.breaking-news {
  border-bottom: 1px solid #000;
  background-color: #fff;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 998;
}
.breaking-news__date {
  margin-right: 10px;
  text-decoration: underline;
}
.breaking-news__story {
  margin-right: 20px;
}
.breaking-news .breaking-news__list {
  margin: 0;
  display: inline-block;
  font-size: 14px;
  padding-left: 100%;
  animation: tickerTape 140s linear infinite;
}
@keyframes tickerTape {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
